<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='new.auction')"></head>

<body>
<header th:insert="fragments/header.html"></header>

<div>

<form th:object="${auction}" enctype="multipart/form-data" method="post" th:action="${'/new-auction?' + _csrf.parameterName + '=' + _csrf.token}">

    <label for="title" th:text="#{auction.title}"></label>
    <input th:field="*{title}" class="form-control" id="title" th:placeholder="#{auction.title}">
    <div th:each="error: ${#fields.errors('title')}"
         th:text="${error}"></div>

    <label for="description" th:text="#{auction.description}"></label>
    <input th:field="*{description}" class="form-control" id="description" th:placeholder="#{auction.description}">
    <div th:each="error: ${#fields.errors('description')}"
         th:text="${error}"></div>
    <div>
    <label for="lastPrice" th:text="#{auction.price}"></label>
    <input th:field="*{lastPrice}" class="form-control" id="lastPrice" th:placeholder="#{auction.price}">
    </div>

    <div>
        <label for="image" th:text="#{auction.image}"></label>
        <div>
            <label th:text="#{auction.upload}"></label>
            <template th:text="#{auction.uploaded}"></template>
            <input accept="image/*" th:field="*{files}" id="image" multiple type="file"/>
        </div>
    </div>

<input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"/>
<button th:text="#{auction.add}" type="submit"></button>
</form>
</div>

</body>
</html>