<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='navigation.register')"></head>

<body>
<form action="*">
    <label>Login</label> <input type="text" name="nazwisko" size="50" maxlength"30" />
</form>
<form action="*">
    <label>Hasło</label> <input type="text" name="nazwisko" size="50" maxlength"30" />
</form>
<form action="*">
    <label>Nazwa konta</label> <input type="text" name="nazwisko" size="50" maxlength"30" />
</form>
<form action="*">
    <label>Województwo</label> <input type="text" name="nazwisko" size="50" maxlength"30" />
</form>
<form action="*">
    <label>Miasto</label> <input type="text" name="nazwisko" size="50" maxlength"30" />
</form>


<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>
