<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='thankyou.thanks')"></head>
<body>
<header th:insert="fragments/header.html"></header>

<div class="welcome-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Witaj</h1>
    <p class="lead">Znajdź przedmiot dla siebie i swojej rodziny</p>
</div>

<div th:insert="fragments/auctions.html :: div(auctions=${auctions})"></div>

    <footer>

    </footer>
</div>
</body>
</html>
